@media (min-width: 0px){
 .container{
    flex-direction: column;
 }

 .left{
    border-radius: 1rem 1rem 0 0;
 }

 .right{
     border-radius: 0 0 1rem 1rem;
 }
}

@media (min-width: 900px){
    .container{
        flex-direction: row;
        gap: 0;
    }
}